<?php
declare(strict_types=1);

return array(
    "hostname" => "127.0.0.1",
    "port" => 3306,
    "user" => "here goes your db user",
    "password" => "fill in password",
    "database" => "guc_registrations",
    "reCaptchaSecret" => "your recaptcha secret key"
);
